# Ignore node_modules in both client and server directories
client/node_modules/
server/node_modules/

# Logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/

# IDE and OS specific files
.DS_Store
.vscode/